<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scracth Living Urn products</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    
          

<main ng-app="formApp" ng-controller="formCtrl" ng-cloak>
  <div class="bg"></div>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Our Products</h1>
      </div>
    </div>
    <form name="multiStepForm" class="form-validation" role="form" novalidate>
      <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
        <div class="animate-switch" ng-switch-default>
          <div class="row">
            <div class="col-md-12">
              <ul id="progressbar">
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
              </ul>
              <p></p>
              <p></p>
              <p>Select your product</p>
              <!-- <button type="button" class="btn btn-primary" ng-click="next('stage1')">Start</button> -->
              <button type="button" class="btn btn-primary btn-img btn--product-1" ng-mouseenter="optionsUrn=true" ng-mouseleave="optionsUrn=false" ng-click="next('product1')">
                <div ng-show="optionsUrn || checkbox" class="description-product">
                  <p class="h3">The Living Urn System Only</p>
                  <p>If you prefer, you can buy the LIving Urn separately and purchase a plant or flowers from your local nursery. You can keep the Living Urn in its bamboo case for as long as you like.</p>
                  <h4 class="text-light price">$349.00</h4>
                </div>
              </button>
              <button type="button" class="btn btn-primary btn-img btn--product-2" ng-mouseenter="optionsTree=true" ng-mouseleave="optionsTree=false" ng-click="next('product2')">
                <div ng-show="optionsTree || checkbox" class="description-product">
                  <p class="h3">The Living Urn System & Tree</p>
                  <p>Includes everything you need to plant and grow your Living Urn and tree. Our online ordering platform enables you to choose from the best, premium seedlings.</p>
                  <h4 class="text-light price">$399.00</h4>
                </div>
              </button>
              <button type="button" class="btn btn-primary btn-img btn--product-3" ng-mouseenter="optionsSpecial=true" ng-mouseleave="optionsSpecial=false" ng-click="next('product3')">
                <div ng-show="optionsSpecial || checkbox" class="description-product">
                  <p class="h3">Specialty Cremation Urns</p>
                  <p>We provide a range of other eco-friendly cremation urns including water memorial urns, scattering urns and eco burial urns–make remembering your loved one a celebration of life and nature.</p>
                  <h4 class="text-light price">$129.00 - $399.00</h4>
                </div>
              </button>
            </div>
          </div>
        </div>

        <div class="animate-switch" ng-switch-when="product1">
          <div class="row">
            <div class="col">
                <ul id="progressbar">
                  <li class="active"><i class="far fa-dot-circle"></i></li>
                  <li class="active"><i class="far fa-dot-circle"></i></li>
                  <li><i class="far fa-dot-circle"></i></li>
                  <li><i class="far fa-dot-circle"></i></li>
                </ul>
              <h2>The Living Urn (System Only)</h2>

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/img/product-1.png" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                      <img src="/img/guys.png" class="img-fluid">
                  </div>
                  <div class="carousel-item">
                      <img src="/img/guys2.png" class="img-fluid">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <h3 class="text-secondary mt-5">$349.00</h3>
              <p class="w-75 mx-auto">Select this option if you'd prefer to purchase your favourite tree, plant, or flowers at your local nursery, or store your Living Urn in its bamboo case to plant at a later date.
                  The Living Urn can be stored in its 100% eco friendly bamboo casing for as long as you'd like, so you can select and plant a memorial tree at a time and place that suits you and your loved ones.
                  Alternatively, if you would like to explore the 2-4 inch tree options we offer in your state, simply click here to browse our available seedlings.</p>
              <div class="d-flex justify-content-end w-75 mx-auto mt-5">
                <button type="button" class="btn btn-primary rounded-circle mr-4" ng-click="back('')"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-primary" ng-click="next('product4')">Continue to purchase</button>
              </div>
            </div>
          </div>
        </div>

        <div class="animate-switch" ng-switch-when="product2">
          <div class="row">
            <div class="col">
              <ul id="progressbar">
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
              </ul>
              <div class="trees">
                <div class="btn-tree btn-tree--1" data-toggle="modal" data-target="#exampleModal"></div>
                <div class="btn-tree btn-tree--2" data-toggle="modal" data-target="#redTree"></div>
                <div class="btn-tree btn-tree--3" data-toggle="modal" data-target="#whiteTree"></div>
              </div>
              <div class="trees">
                <div class="btn-tree btn-tree--4" data-toggle="modal" data-target="#pinkTree"></div>
                <div class="btn-tree btn-tree--5" data-toggle="modal" data-target="#brownTree"></div>
              </div>
              <div class="d-flex justify-content-end w-75 mx-auto mt-5">
                <button type="button" class="btn btn-primary rounded-circle mr-4" ng-click="back('')"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-primary" ng-click="next('product4')">Continue to purchase</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="animate-switch" ng-switch-when="product3">
          <div class="row">
            <div class="col">
              <ul id="progressbar">
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
              </ul>
              <div class="others">
                <div class="btn-img btn-other--1"></div>
                <div class="btn-img btn-other--2"></div>
                <div class="btn-img btn-other--3"></div>
              </div>
              <div class="d-flex justify-content-end w-75 mx-auto mt-5">
                <button type="button" class="btn btn-primary rounded-circle mr-4" ng-click="back('')"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-primary" ng-click="next('product4')">Continue to purchase</button>
              </div>
            </div>
          </div>
        </div>

        <div class="animate-switch" ng-switch-when="product4">
          <div class="row">
            <div class="col">
              <ul id="progressbar">
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li class="active"><i class="far fa-dot-circle"></i></li>
                <li><i class="far fa-dot-circle"></i></li>
              </ul>
              <div class="form-purchase w-75 mx-auto">
                <div class="form-group">
                  <label for="tb-fname">First Name:</label>
                  <input type="text" class="form-control" id="tb-fname" name="firstName" ng-maxlength="250" ng-model="formParams.firstName"  ng-class="{'input-error': formValidation && multiStepForm.firstName.$error.required}" >
                  <span ng-show="multiStepForm.firstName.$error.maxlength">
                    Max character length reached.
                  </span>
                </div>
                <div class="form-group">
                  <label for="tb-lname">Last Name:</label>
                  <input type="text" class="form-control" id="tb-lname" name="lastName" ng-maxlength="250" ng-model="formParams.lastName" ng-class="{'input-error': formValidation && multiStepForm.lastName.$error.required}" >
                  <span ng-show="multiStepForm.lastName.$error.maxlength">
                    Max character length reached.
                  </span>
                </div>
                <div class="form-group">
                  <label for="tb-email">Email:</label>
                  <input type="email" class="form-control" id="tb-email" name="email" ng-maxlength="100" ng-model="formParams.email" ng-class="{'input-error': formValidation && multiStepForm.email.$error.required}" ng-model-options="{ updateOn: 'blur' }" >
                  <span ng-show="multiStepForm.email.$error.email">
                    Incorrect email format.
                  </span>
                  <span ng-show="multiStepForm.email.$error.maxlength">
                    Max character length reached.
                  </span>
                </div>
                <div class="alert alert-dark" role="alert">
                  Space for payment API.
                </div>
              </div>
              <div class="d-flex justify-content-end w-75 mx-auto mt-5">
                <button type="button" class="btn btn-primary rounded-circle mr-4" ng-click="back('')"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-primary" ng-click="next('product5')">Buy</button>
              </div>
            </div>
          </div>
        </div>

        <div class="animate-switch" ng-switch-when="product5">
            <ul id="progressbar">
              <li class="active"><i class="far fa-dot-circle"></i></li>
              <li class="active"><i class="far fa-dot-circle"></i></li>
              <li class="active"><i class="far fa-dot-circle"></i></li>
              <li class="active"><i class="far fa-dot-circle"></i></li>
            </ul>
          <h1 class="mt-5">
            Your order is confirmed!
          </h1>
          <h3 class="w-50 mx-auto text-secondary">Thanks for shopping! Your order -------- hasn't shipped yet, but, we'll send you an email when it does.</h3>
        </div>
      </div>
    </form>
  </div>
</main>



<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title ">Living Urn System With Meyer Lemon Tree Seedling</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/tree1.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="/img/lemon-tree.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="/img/lemon-tree2.png" class="img-fluid">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <h3>
                $399.00
            </h3>
            <div class="form-group w-25 d-inline-block text-center">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button class="btn btn-primary ml-3" data-dismiss="modal">ADD TO CART</button>
            <p>Meyer is a smaller sized tree, growing to a maximum of 2.5 metres. It produces numerous crops of medium sized lemons throughout the year.</p>
            <p>The fruit has softer skin, turning a deep golden colour when ripe. The Meyer contains an abundance of juice that is slightly sweeter, and containing less acid than other lemons. This lemon makes a fantastic outdoor pot plant.</p>
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5>Planiting & Care Details</h5>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <h6>Where To Plant</h6>

                        <p>Ideally you will plant your  tree in a warm sunny position in a well drained soil. These are a lemon that prefer a Mediterranean type climate.</p>
                        
                        <p>However we have found them to be versatile, growing well in cool hilly conditions outside of Sydney and Melbourne as well as in warmer areas.</p>
                        
                        <h6>Top Care Tips</h6>
                        
                        <ul>
                            <li>We suggest digging in some well rotted compost before planting, especially in sandy soils.</li>
                            <li>Stake young trees to ensure upright growth until established.</li>
                            <li>As for digging in lots of chicken manure before planting, probably not a really good idea, a little yes, to much and you may get root burn.</li>
                            <li>We prefer to use sheep or cow manure for new plants, its a little less harsh.</li>
                            <li>Unless you are growing your tree as an espalier it will require little pruning. Removal of damaged or errant growth is about it.</li>
                        </ul>
                        
                        <p>Keep the area beneath the lemon tree weed and grass free, mulch lightly but keep the mulch away from the trunk of the plant. Lemon trees are fairly shallow rooted so they do not like competition for nutrients from grass and weeds.</p>
                        
                        <p>Fertilize with a general purpose citrus fertilizer, or dynamic lifter in spring and again in autumn.</p>
                        
                        <p>This is a sweeter that others because it is a natural hybrid between a lemon and an orange. Discovered in China in the early 1900s.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Overview</h5>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>The Meyer lemon is the most widely grown lemon tree in Australia home gardens. And if you are looking for a lemon tree for a small garden, or perhaps growing in a pot, this is the one.</p>

                        <p>A hybrid tree, Citrus x meyeri ,  this is cross between a lemon and an orange, however more like a lemon in appearance and taste. Discovered in China by Frank Meyer in the early 1900s, this lemon tree is widely grown across Australia.</p>
                        
                        <p>The fruit is a little sweeter than some other varieties, the tree itself is a prolific producer of good juicy lemons, problem free and it is a naturally smaller growing tree than some others.</p>
                        
                        <p><strong>A Meyer lemon tree will reach around 4m in ideal conditions</strong>, often smaller than this. This is a tree that is also available on dwarf rootstock and is well suited to growing in containers or for use as an espalier.</p>
                        
                        <p>The fruit is a little smaller than others, a smooth skin that is thin without the mass of pith that some have. They are attractive when on the tree and useful in the kitchen.</p>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="redTree">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title ">Living Urn System With Japanese Maple Seedlings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleIndicators2" class="carousel slide mb-4" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators2" data-slide-to="0" ></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="/img/tree2.png" class="img-fluid">
                </div>
                <div class="carousel-item active">
                    <img src="/img/redtree.png" class="img-fluid">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <h3>
                $399.00
            </h3>
            <div class="form-group w-25 d-inline-block text-center">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button class="btn btn-primary ml-3" data-dismiss="modal">ADD TO CART</button>
            <p>A beautiful, deciduous tree grown for ornamental foliage and form. Maples are renown for their brilliant Autumn colour in shades of yellow, orange or red. Attractive small tree. Does well in containers, excellent shade or lawn specimen. Japanese Maples are surprisingly hardy, their biggest enemy is hot wind. They will tolerate sun, in fact most of the purple-leafed varieties will go green in the shade, but the very pale-leafed ones appreciate a bit of shade.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="whiteTree">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title ">Living Urn System With Bush Rose Seedling</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleIndicators3" class="carousel slide mb-4" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators3" data-slide-to="0"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="1" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="/img/tree3.png" class="img-fluid">
                </div>
                <div class="carousel-item active">
                    <img src="/img/whitetree.png" class="img-fluid">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <h3>
                $399.00
            </h3>
            <div class="form-group w-25 d-inline-block text-center">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button class="btn btn-primary ml-3" data-dismiss="modal">ADD TO CART</button>
            <p>The classic rose has long been loved for its aroma and looks. However, they also come with a high-maintenance regime. Enter the bush rose. One of the easiest classes of roses to grow, shrub roses combine all of the best characteristics into a beautiful, low-maintenance plant.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="pinkTree">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title ">Living Urn System With Corymbia Baby Gum Seedlings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="carouselExampleIndicators4" class="carousel slide mb-4" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators4" data-slide-to="0" ></li>
                  <li data-target="#carouselExampleIndicators4" data-slide-to="1" class="active"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item ">
                      <img src="/img/tree4.png" class="img-fluid">
                  </div>
                  <div class="carousel-item active">
                      <img src="/img/pinktree.png" class="img-fluid">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <h3>
                  $399.00
              </h3>
              <div class="form-group w-25 d-inline-block text-center">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <button class="btn btn-primary ml-3" data-dismiss="modal">ADD TO CART</button>
              <p>A highly decorative and fast growing small tree from 3 metres to around 4 metres tall. It has large glossy dark green leaves with a light green reverse with reddish new foliage during the warmer months of the year.<br>

                  It has an outstanding display of large red or orange flowers which will attract nectar loving birds, followed by attractive large gum nuts. Best in a well drained soil in a sunny position.</p>
          </div>
        </div>
      </div>
    </div>
        

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script src="js/form.min.js"></script>


  </body>

</html>
